<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.lunaproject.androidapp"
	>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
		android:hasCode="false"
		>
		
        <activity 
			android:name="android.app.NativeActivity"
			android:launchMode="singleTask"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:label="app"
			android:screenOrientation="landscape"
			>
			
			<meta-data android:name="android.app.lib_name" android:value="app" />
			
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>